.guestbook_wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  margin: 1.2rem;
  overflow-x: scroll;
}

.comment {
  box-sizing: border-box;
  width: 250px;
  height: 200px;
  padding: 1rem;
  border: 1px solid var(--grey);
  border-radius: 10px;
}

.comment.filled {
  width: 100%;
  height: 134px;
  min-height: 134px;
}

.comment.filled:hover {
  height: auto;
}

.comment_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.comment_header > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.writer_name {
  font-weight: 600;
  font-size: 1rem;
}

.create_dt {
  color: var(--darkgrey);
  font-size: 0.8rem;
}

.content {
  display: -webkit-box;
  overflow: hidden;
  font-size: 1rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-height: 1.5rem;
  word-break: break-all;
}

.comment.filled .content {
  -webkit-line-clamp: 2;
}

.comment.filled:hover .content {
  -webkit-line-clamp: unset;
}

.list_wrapper {
  width: 100%;
  margin-top: 1rem;
}

.guestbook_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.skeleton_item {
  width: 100%;
}

.comment .button_set {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.comment_modal {
  min-height: 500px;
  padding: 2rem 3rem;
}

.comment_modal h3 {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.comment_modal p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  text-align: center;
}

.modal_buttons {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.edit_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment_modal form {
  width: 800px;
}

.delete_form {
  text-align: center;
}

.like_count {
  display: flex;
  gap: 0.1rem;
  align-items: center;
  justify-content: right;
  font-size: 0.8rem;
}

.container {
  width: 100%;
}

.container_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.end_line {
  margin: 2rem 0;
  color: var(--grey);
  text-align: center;
}

@media screen and (width <= 480px) {
  .guestbook_wrapper {
    overflow-x: auto;
  }

  .container_inner button {
    width: 80px !important;
  }

  .comment_modal form {
    width: 100%;
  }
}
