.back_button {
  align-self: flex-start;
  margin: 1rem 0;
}

.section {
  box-sizing: border-box;
  width: 100%;
}

.section_title {
  align-self: flex-start;
  font-weight: 700;
  font-size: 1.5rem;
}
